*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

section{
    position:relative;
    width: 100%;
    min-height:100vh;
    padding:100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #161616;

}

section .circle{
    position:absolute;
    top:0px;
    left:0px;
    width:100%;
    height:100%;
    background: #e51e2a;
    clip-path: circle(70% at right -20%);
}

header{
    position:absolute;
    top:0px;
    left:0px;
    width:100%;
    padding:40px 100px ;
    display: flex;
    justify-content:space-between;
    align-items:center;
}

header .logo{
    position: relative;
    max-width: 150px;
}

header .navigation{
    position: relative;
    display: flex;
}

header .navigation li{
    list-style: none;
}

header .navigation li {
    display: inline-block;
    color: #fff;
    font-weight: 600;
    font-size: x-large;
    text-decoration: none;
    margin-left: 40px;
}

.navbar-text:hover {
    transform: scale(1.4);
    transition: transform 0.2s;
    cursor: pointer;
  }

.content{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content .textbox{
    position: relative;
    max-width: 600px;
    margin-right: 20px;
}

.content .textbox h2{
    color: #fff;
    font-size:3rem;
    margin-bottom: 10px;
    line-height:4rem;
    font-weight: 700;    
}

.content .textbox p{
    
    color: #fff;
    line-height:1.7rem;
}

.content .textbox a{
    display: inline-block;
    margin:20px;
    background:#e51e2a;
    padding:8px 20px ;
    border-radius: 40px;
    font-weight: 500;
    letter-spacing: 1.5px;
    text-decoration: none;
    color:#fff;
}

.content .textbox a:hover{
    background:#fff;
    color:#e51e2a;
}

.sci{
    position: absolute;
    bottom: 40px;
    left:100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sci li{
    list-style: none;
}

.sci li a{
    text-decoration: none;
    display: inline-block;
    margin-left: 15px;
    background: #222;
    width: 50%;
    height: 50%;
    display: flex;
    justify-content:center;
    align-items:center;
    border-radius: 50px;
    transition: 0.2s ease-in-out;

}

.sci li a:hover {
    background: #e51e2a;
    transform: translateY(-10px);

}

/* -------------------SWIPER------------------ */

.swiper {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
  }

.swiper-slide {
    background-position: center;
    background-size: cover;
    width: 180px;
    height: 350px;
    display: flex;
    justify-content:center;
  }

.content .imgbox{
    width:500px;
    display: flex;
    justify-content: flex-end;
  }

.content .imgbox img{
    max-width: 150px;
  }

@media (max-width: 991px){
    header{
        padding:40px
    }
    section{
        padding:150px 40px;
    }
    .sci{
        left:40px;
    }
    .content{
        flex-direction: column;
    }
    .content .textbox,
    .content .imgbox{
        max-width: 100%;
    }
    .swiper-slide{
        height:300px;
    }
    header .navigation{
        display:none;
    }
    header .navigation li{
        margin:10px 0;
        font-size:1.5rem;
        font-weight: 300;
    }
    header .navigation.active{
        position: fixed;
        top:0;
        left:0;
        width:100%;
        height:100%;
        display: flex;
        flex-direction: column;
        background:#e51e2a;
        justify-content: center;
        align-items: center;
        z-index:10;
    }
    .toggle{
        height:30px;
        width:30px;
        background: url(/images/menu.png);
        position: relative;
        background-size: 30px;
        background-repeat: no-repeat;
        background-position: center;
        z-index: 1000;       
    }
    .toggle.active{
        position:fixed;
        right:40px;
        background: url(/Images/close.png);
        background-repeat: no-repeat;
        background-size: 25px;
        background-position: center;
    }
}